<div id="results">

  <div id="map">
    <img src="/img/map.png" alt="">
  </div>

  <div class="summary">
    Woah, <%= @user_1.handle %> and <%= @user_2.handle %> have <%= @common_friends.size %> friends in common!
  </div>

  <ul id="characters">
    <% @common_friends.each do |friend| %>
      <li class="opponent">
        <a href="http://twitter.com/<%= friend.handle %>">
          <span class="handle">@<%= friend.handle %></span>
          <img src="<%= friend.profile_image_url %>" alt="<%= friend.handle %>" class="avatar">
        </a>
      </li>
    <% end %>
  </ul>

  <div class="actions">
    <a id="back" href="/">Back</a>
    <a id="sign-out" href="/sign_out">Sign Out</a>
  </div>
</div>